doctype html
html(lang="en")
  head
    title Herder

    meta(charset="UTF-8")
    meta(name="keywords" content="Uber, Driver, Profit")
    meta(name="description" content="Maximize your profit as an Uber driver.")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    block css
  body
    block content
    block js