block css
  link(rel="stylesheet" href='css/normalize.css')
  link(rel="stylesheet" href='css/index.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css')
block js
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='js/chart.min.js')
  script(src='js/index.js')
block content
  .content
    .mapArea
      header.header
        | Herder
      .map
    .dataArea
      ul.graphsArea
        li.graphArea
          h3.title Price Surge
          .graph